package net.ddns.spellbank.day${day};

import net.ddns.spellbank.utils.InputFile;

public class Day${day} {

    public static void main(String[] args) {
        String file = "day${day}/input1";
        String[] lines = InputFile.getLines(file);

        System.out.println(part1(lines));
        System.out.println(part2(lines));
    }

    public static long part1(String[] lines) {
        return 0;
    }

    public static long part2(String[] lines) {
        return 0;
    }

}